---
- name: Add new default host
  sudo: true
  copy: src=default dest=/etc/nginx/sites-available/default force=yes owner=www-data group=www-data
  notify: reload Nginx

- name: verify existence of reverse proxy config
  local_action: stat path=proxy_hosts.yml
  register: proxy_config

- name: Include proxy config
  include_vars: proxy_hosts.yml
  when: proxy_config.stat.exists

- name: Set up reverse proxy entries
  sudo: true
  template: src=proxy-host.j2 dest=/etc/nginx/sites-available/{{ item.name }} owner=www-data group=www-data
  with_items:
    - "{{ proxy_hosts }}"
  when: proxy_hosts is defined

- name: Enable reverse proxy entries
  sudo: true
  file: src=/etc/nginx/sites-available/{{ item.name }} dest=/etc/nginx/sites-enabled/{{ item.name }} state=link
  with_items:
    - "{{ proxy_hosts }}"
  when: proxy_hosts is defined
  notify: reload Nginx
